<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mljr.operators.dao.primary.operators.FlowInfoMapper">
  <resultMap id="BaseResultMap" type="com.mljr.operators.entity.model.operators.FlowInfo">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="USER_INFO_ID" jdbcType="BIGINT" property="userInfoId" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="HOME_AREA" jdbcType="VARCHAR" property="homeArea" />
    <result column="NET_TYPE" jdbcType="CHAR" property="netType" />
    <result column="SVC_NAME" jdbcType="VARCHAR" property="svcName" />
    <result column="FORWARD_TYPE" jdbcType="BIT" property="forwardType" />
    <result column="RECEIVE_BYTES" jdbcType="DECIMAL" property="receiveBytes" />
    <result column="SEND_BYTES" jdbcType="DECIMAL" property="sendBytes" />
    <result column="TOTAL_BYTES" jdbcType="DECIMAL" property="totalBytes" />
    <result column="FEE" jdbcType="DECIMAL" property="fee" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_INFO_ID, START_TIME, HOME_AREA, NET_TYPE, SVC_NAME, FORWARD_TYPE, RECEIVE_BYTES, 
    SEND_BYTES, TOTAL_BYTES, FEE, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_flow_info
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_flow_info
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mljr.operators.entity.model.operators.FlowInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_flow_info (USER_INFO_ID, START_TIME, HOME_AREA, 
      NET_TYPE, SVC_NAME, FORWARD_TYPE, 
      RECEIVE_BYTES, SEND_BYTES, TOTAL_BYTES, 
      FEE, CREATE_TIME, UPDATE_TIME
      )
    values (#{userInfoId,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, #{homeArea,jdbcType=VARCHAR}, 
      #{netType,jdbcType=CHAR}, #{svcName,jdbcType=VARCHAR}, #{forwardType,jdbcType=BIT}, 
      #{receiveBytes,jdbcType=DECIMAL}, #{sendBytes,jdbcType=DECIMAL}, #{totalBytes,jdbcType=DECIMAL}, 
      #{fee,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mljr.operators.entity.model.operators.FlowInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_flow_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userInfoId != null">
        USER_INFO_ID,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="homeArea != null">
        HOME_AREA,
      </if>
      <if test="netType != null">
        NET_TYPE,
      </if>
      <if test="svcName != null">
        SVC_NAME,
      </if>
      <if test="forwardType != null">
        FORWARD_TYPE,
      </if>
      <if test="receiveBytes != null">
        RECEIVE_BYTES,
      </if>
      <if test="sendBytes != null">
        SEND_BYTES,
      </if>
      <if test="totalBytes != null">
        TOTAL_BYTES,
      </if>
      <if test="fee != null">
        FEE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userInfoId != null">
        #{userInfoId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="homeArea != null">
        #{homeArea,jdbcType=VARCHAR},
      </if>
      <if test="netType != null">
        #{netType,jdbcType=CHAR},
      </if>
      <if test="svcName != null">
        #{svcName,jdbcType=VARCHAR},
      </if>
      <if test="forwardType != null">
        #{forwardType,jdbcType=BIT},
      </if>
      <if test="receiveBytes != null">
        #{receiveBytes,jdbcType=DECIMAL},
      </if>
      <if test="sendBytes != null">
        #{sendBytes,jdbcType=DECIMAL},
      </if>
      <if test="totalBytes != null">
        #{totalBytes,jdbcType=DECIMAL},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mljr.operators.entity.model.operators.FlowInfo">
    update t_flow_info
    <set>
      <if test="userInfoId != null">
        USER_INFO_ID = #{userInfoId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="homeArea != null">
        HOME_AREA = #{homeArea,jdbcType=VARCHAR},
      </if>
      <if test="netType != null">
        NET_TYPE = #{netType,jdbcType=CHAR},
      </if>
      <if test="svcName != null">
        SVC_NAME = #{svcName,jdbcType=VARCHAR},
      </if>
      <if test="forwardType != null">
        FORWARD_TYPE = #{forwardType,jdbcType=BIT},
      </if>
      <if test="receiveBytes != null">
        RECEIVE_BYTES = #{receiveBytes,jdbcType=DECIMAL},
      </if>
      <if test="sendBytes != null">
        SEND_BYTES = #{sendBytes,jdbcType=DECIMAL},
      </if>
      <if test="totalBytes != null">
        TOTAL_BYTES = #{totalBytes,jdbcType=DECIMAL},
      </if>
      <if test="fee != null">
        FEE = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mljr.operators.entity.model.operators.FlowInfo">
    update t_flow_info
    set USER_INFO_ID = #{userInfoId,jdbcType=BIGINT},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      HOME_AREA = #{homeArea,jdbcType=VARCHAR},
      NET_TYPE = #{netType,jdbcType=CHAR},
      SVC_NAME = #{svcName,jdbcType=VARCHAR},
      FORWARD_TYPE = #{forwardType,jdbcType=BIT},
      RECEIVE_BYTES = #{receiveBytes,jdbcType=DECIMAL},
      SEND_BYTES = #{sendBytes,jdbcType=DECIMAL},
      TOTAL_BYTES = #{totalBytes,jdbcType=DECIMAL},
      FEE = #{fee,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>

    <insert id="insertByBatch">
        insert into t_flow_info (USER_INFO_ID, START_TIME, HOME_AREA,
        NET_TYPE, SVC_NAME, FORWARD_TYPE,
        RECEIVE_BYTES, SEND_BYTES, TOTAL_BYTES,
        FEE, CREATE_TIME, UPDATE_TIME
        ) values
        <foreach collection="list" item="item" separator=",">
            (#{item.userInfoId,jdbcType=BIGINT},
            #{item.startTime,jdbcType=TIMESTAMP},
            #{item.homeArea,jdbcType=VARCHAR},
            #{item.netType,jdbcType=CHAR},
            #{item.svcName,jdbcType=VARCHAR},
            #{item.forwardType,jdbcType=BIT},
            #{item.receiveBytes,jdbcType=DECIMAL},
            #{item.sendBytes,jdbcType=DECIMAL},
            #{item.totalBytes,jdbcType=DECIMAL},
            #{item.fee,jdbcType=DECIMAL},
            now(),now())
        </foreach>
    </insert>

</mapper>