<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mljr.operators.dao.primary.operators.IPackageInfoDAO">
    <resultMap id="BaseResultMap" type="com.mljr.operators.entity.model.operators.PackageInfo">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="USER_INFO_ID" property="userInfoId" jdbcType="BIGINT"/>
        <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, USER_INFO_ID, PRODUCT_NAME, CREATE_TIME, UPDATE_TIME
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_package_info
        where ID = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insertSelective" parameterType="com.mljr.operators.entity.model.operators.PackageInfo">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_package_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userInfoId != null">
                USER_INFO_ID,
            </if>
            <if test="productName != null">
                PRODUCT_NAME,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userInfoId != null">
                #{userInfoId,jdbcType=BIGINT},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="updateTime != null">
                now(),
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mljr.operators.entity.model.operators.PackageInfo">
        update t_package_info
        <set>
            <if test="userInfoId != null">
                USER_INFO_ID = #{userInfoId,jdbcType=BIGINT},
            </if>
            <if test="productName != null">
                PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = now(),
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
</mapper>