<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mljr.operators.dao.primary.operators.PackageInfoDetailMapper">
  <resultMap id="BaseResultMap" type="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PACKAGE_INFO_ID" jdbcType="BIGINT" property="packageInfoId" />
    <result column="DISCNT_NAME" jdbcType="VARCHAR" property="discntName" />
    <result column="DISCNT_FEE" jdbcType="VARCHAR" property="discntFee" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PACKAGE_INFO_ID, DISCNT_NAME, DISCNT_FEE, DESCRIPTION, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_package_info_detail
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_package_info_detail
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_package_info_detail (PACKAGE_INFO_ID, DISCNT_NAME, DISCNT_FEE, 
      DESCRIPTION, CREATE_TIME, UPDATE_TIME
      )
    values (#{packageInfoId,jdbcType=BIGINT}, #{discntName,jdbcType=VARCHAR}, #{discntFee,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_package_info_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="packageInfoId != null">
        PACKAGE_INFO_ID,
      </if>
      <if test="discntName != null">
        DISCNT_NAME,
      </if>
      <if test="discntFee != null">
        DISCNT_FEE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="packageInfoId != null">
        #{packageInfoId,jdbcType=BIGINT},
      </if>
      <if test="discntName != null">
        #{discntName,jdbcType=VARCHAR},
      </if>
      <if test="discntFee != null">
        #{discntFee,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    update t_package_info_detail
    <set>
      <if test="packageInfoId != null">
        PACKAGE_INFO_ID = #{packageInfoId,jdbcType=BIGINT},
      </if>
      <if test="discntName != null">
        DISCNT_NAME = #{discntName,jdbcType=VARCHAR},
      </if>
      <if test="discntFee != null">
        DISCNT_FEE = #{discntFee,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    update t_package_info_detail
    set PACKAGE_INFO_ID = #{packageInfoId,jdbcType=BIGINT},
      DISCNT_NAME = #{discntName,jdbcType=VARCHAR},
      DISCNT_FEE = #{discntFee,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PACKAGE_INFO_ID" jdbcType="BIGINT" property="packageInfoId" />
    <result column="DISCNT_NAME" jdbcType="VARCHAR" property="discntName" />
    <result column="DISCNT_FEE" jdbcType="VARCHAR" property="discntFee" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PACKAGE_INFO_ID, DISCNT_NAME, DISCNT_FEE, DESCRIPTION, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_package_info_detail
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_package_info_detail
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_package_info_detail (PACKAGE_INFO_ID, DISCNT_NAME, DISCNT_FEE, 
      DESCRIPTION, CREATE_TIME, UPDATE_TIME
      )
    values (#{packageInfoId,jdbcType=BIGINT}, #{discntName,jdbcType=VARCHAR}, #{discntFee,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_package_info_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="packageInfoId != null">
        PACKAGE_INFO_ID,
      </if>
      <if test="discntName != null">
        DISCNT_NAME,
      </if>
      <if test="discntFee != null">
        DISCNT_FEE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="packageInfoId != null">
        #{packageInfoId,jdbcType=BIGINT},
      </if>
      <if test="discntName != null">
        #{discntName,jdbcType=VARCHAR},
      </if>
      <if test="discntFee != null">
        #{discntFee,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    update t_package_info_detail
    <set>
      <if test="packageInfoId != null">
        PACKAGE_INFO_ID = #{packageInfoId,jdbcType=BIGINT},
      </if>
      <if test="discntName != null">
        DISCNT_NAME = #{discntName,jdbcType=VARCHAR},
      </if>
      <if test="discntFee != null">
        DISCNT_FEE = #{discntFee,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    update t_package_info_detail
    set PACKAGE_INFO_ID = #{packageInfoId,jdbcType=BIGINT},
      DISCNT_NAME = #{discntName,jdbcType=VARCHAR},
      DISCNT_FEE = #{discntFee,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PACKAGE_INFO_ID" jdbcType="BIGINT" property="packageInfoId" />
    <result column="DISCNT_NAME" jdbcType="VARCHAR" property="discntName" />
    <result column="DISCNT_FEE" jdbcType="VARCHAR" property="discntFee" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PACKAGE_INFO_ID, DISCNT_NAME, DISCNT_FEE, DESCRIPTION, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_package_info_detail
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_package_info_detail
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_package_info_detail (PACKAGE_INFO_ID, DISCNT_NAME, DISCNT_FEE, 
      DESCRIPTION, CREATE_TIME, UPDATE_TIME
      )
    values (#{packageInfoId,jdbcType=BIGINT}, #{discntName,jdbcType=VARCHAR}, #{discntFee,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_package_info_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="packageInfoId != null">
        PACKAGE_INFO_ID,
      </if>
      <if test="discntName != null">
        DISCNT_NAME,
      </if>
      <if test="discntFee != null">
        DISCNT_FEE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="packageInfoId != null">
        #{packageInfoId,jdbcType=BIGINT},
      </if>
      <if test="discntName != null">
        #{discntName,jdbcType=VARCHAR},
      </if>
      <if test="discntFee != null">
        #{discntFee,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    update t_package_info_detail
    <set>
      <if test="packageInfoId != null">
        PACKAGE_INFO_ID = #{packageInfoId,jdbcType=BIGINT},
      </if>
      <if test="discntName != null">
        DISCNT_NAME = #{discntName,jdbcType=VARCHAR},
      </if>
      <if test="discntFee != null">
        DISCNT_FEE = #{discntFee,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
    update t_package_info_detail
    set PACKAGE_INFO_ID = #{packageInfoId,jdbcType=BIGINT},
      DISCNT_NAME = #{discntName,jdbcType=VARCHAR},
      DISCNT_FEE = #{discntFee,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
    <resultMap id="BaseResultMap" type="com.mljr.operators.entity.model.operators.PackageInfoDetail">
        <id column="ID" jdbcType="BIGINT" property="id" />
        <result column="PACKAGE_INFO_ID" jdbcType="BIGINT" property="packageInfoId" />
        <result column="DISCNT_NAME" jdbcType="VARCHAR" property="discntName" />
        <result column="DISCNT_FEE" jdbcType="VARCHAR" property="discntFee" />
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
    ID, PACKAGE_INFO_ID, DISCNT_NAME, DISCNT_FEE, DESCRIPTION, CREATE_TIME, UPDATE_TIME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_package_info_detail
        where ID = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insertSelective" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_package_info_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="packageInfoId != null">
                PACKAGE_INFO_ID,
            </if>
            <if test="discntName != null">
                DISCNT_NAME,
            </if>
            <if test="discntFee != null">
                DISCNT_FEE,
            </if>
            <if test="description != null">
                DESCRIPTION,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="packageInfoId != null">
                #{packageInfoId,jdbcType=BIGINT},
            </if>
            <if test="discntName != null">
                #{discntName,jdbcType=VARCHAR},
            </if>
            <if test="discntFee != null">
                #{discntFee,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="updateTime != null">
                now(),
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mljr.operators.entity.model.operators.PackageInfoDetail">
        update t_package_info_detail
        <set>
            <if test="packageInfoId != null">
                PACKAGE_INFO_ID = #{packageInfoId,jdbcType=BIGINT},
            </if>
            <if test="discntName != null">
                DISCNT_NAME = #{discntName,jdbcType=VARCHAR},
            </if>
            <if test="discntFee != null">
                DISCNT_FEE = #{discntFee,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = now(),
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
</mapper>