<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mljr.operators.dao.primary.operators.RequestInfoMapper">
  <resultMap id="BaseResultMap" type="com.mljr.operators.entity.model.operators.RequestInfo">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="IDCARD" jdbcType="VARCHAR" property="idcard" />
    <result column="OPERATORS_TYPE" jdbcType="CHAR" property="operatorsType" />
    <result column="PROVINCE_CODE" jdbcType="VARCHAR" property="provinceCode" />
    <result column="URL_TYPE" jdbcType="INTEGER" property="urlType" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="START_DATE" jdbcType="DATE" property="startDate" />
    <result column="END_DATE" jdbcType="DATE" property="endDate" />
    <result column="SIGN" jdbcType="VARCHAR" property="sign" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, MOBILE, IDCARD, OPERATORS_TYPE, PROVINCE_CODE, URL_TYPE, URL, START_DATE, END_DATE, 
    SIGN, STATUS, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_request_info
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_request_info
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mljr.operators.entity.model.operators.RequestInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_request_info (MOBILE, IDCARD, OPERATORS_TYPE, 
      PROVINCE_CODE, URL_TYPE, URL, 
      START_DATE, END_DATE, SIGN, 
      STATUS, CREATE_TIME, UPDATE_TIME
      )
    values (#{mobile,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{operatorsType,jdbcType=CHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{urlType,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{sign,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mljr.operators.entity.model.operators.RequestInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_request_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="idcard != null">
        IDCARD,
      </if>
      <if test="operatorsType != null">
        OPERATORS_TYPE,
      </if>
      <if test="provinceCode != null">
        PROVINCE_CODE,
      </if>
      <if test="urlType != null">
        URL_TYPE,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="startDate != null">
        START_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="sign != null">
        SIGN,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="operatorsType != null">
        #{operatorsType,jdbcType=CHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="urlType != null">
        #{urlType,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mljr.operators.entity.model.operators.RequestInfo">
    update t_request_info
    <set>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        IDCARD = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="operatorsType != null">
        OPERATORS_TYPE = #{operatorsType,jdbcType=CHAR},
      </if>
      <if test="provinceCode != null">
        PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="urlType != null">
        URL_TYPE = #{urlType,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        START_DATE = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=DATE},
      </if>
      <if test="sign != null">
        SIGN = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mljr.operators.entity.model.operators.RequestInfo">
    update t_request_info
    set MOBILE = #{mobile,jdbcType=VARCHAR},
      IDCARD = #{idcard,jdbcType=VARCHAR},
      OPERATORS_TYPE = #{operatorsType,jdbcType=CHAR},
      PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      URL_TYPE = #{urlType,jdbcType=INTEGER},
      URL = #{url,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=DATE},
      END_DATE = #{endDate,jdbcType=DATE},
      SIGN = #{sign,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertByBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    INSERT IGNORE INTO t_request_info (MOBILE, IDCARD, OPERATORS_TYPE,
    PROVINCE_CODE, URL_TYPE, URL,
    START_DATE, END_DATE, SIGN,
    STATUS, CREATE_TIME, UPDATE_TIME
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.mobile,jdbcType=VARCHAR}, #{item.idcard,jdbcType=VARCHAR}, #{item.operatorsType,jdbcType=CHAR},
      #{item.provinceCode,jdbcType=VARCHAR}, #{item.urlType,jdbcType=INTEGER}, #{item.url,jdbcType=VARCHAR},
      #{item.startDate,jdbcType=DATE}, #{item.endDate,jdbcType=DATE}, #{item.sign,jdbcType=VARCHAR},
      #{item.status,jdbcType=INTEGER}, now(), now()
      )
    </foreach>
  </insert>

  <update id="updateStatusBySign">
    UPDATE t_request_info SET STATUS=#{status},UPDATE_TIME=now() WHERE SIGN=#{sign} AND STATUS=#{originStatus}
  </update>

  <select id="getBySign" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM t_request_info WHERE SIGN=#{sign}
  </select>

  <select id="getPerRequestDate" resultType="java.util.Date">
    SELECT MAX(END_DATE) FROM t_request_info WHERE MOBILE=#{mobile}
    AND IDCARD=#{idcard}
  </select>

  <select id="checkState" resultType="java.lang.Integer">
    SELECT `status` FROM t_request_info WHERE MOBILE=#{mobile}
    AND IDCARD=#{idcard}
    AND URL_TYPE!=10007
  </select>

  <update id="batchUpdateStatusById">
    UPDATE t_request_info SET STATUS=#{newStatus},UPDATE_TIME=now() WHERE ID IN
    <foreach collection="ids" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
    AND STATUS=#{originStatus}
  </update>

  <select id="retry" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM t_request_info WHERE OPERATORS_TYPE=#{operatorsType} AND STATUS=#{status} ORDER BY ID DESC limit 100
  </select>

</mapper>
