<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mljr.operators.dao.primary.operators.IUserInfoDAO">
    <resultMap id="BaseResultMap" type="com.mljr.operators.entity.model.operators.UserInfo">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR"/>
        <result column="PWD" property="pwd" jdbcType="VARCHAR"/>
        <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR"/>
        <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="CHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, MOBILE, PWD, PROVINCE_CODE, CITY_CODE, TYPE, CREATE_TIME, UPDATE_TIME
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_user_info
        where ID = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insertSelective" parameterType="com.mljr.operators.entity.model.operators.UserInfo">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mobile != null">
                MOBILE,
            </if>
            <if test="pwd != null">
                PWD,
            </if>
            <if test="provinceCode != null">
                PROVINCE_CODE,
            </if>
            <if test="cityCode != null">
                CITY_CODE,
            </if>
            <if test="type != null">
                TYPE,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null">
                #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null">
                #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="updateTime != null">
                now(),
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.mljr.operators.entity.model.operators.UserInfo">
        update t_user_info
        <set>
            <if test="mobile != null">
                MOBILE = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                PWD = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null">
                PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null">
                CITY_CODE = #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                TYPE = #{type,jdbcType=CHAR},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME =now(),
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <select id="getByMobile" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user_info WHERE MOBILE=#{mobile}
    </select>
</mapper>