<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mljr.operators.dao.primary.statistics.CallStatisticsMapper">


    <select id="selectCallOutDate" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT MAX(`CALL_DATE`) AS maxCallOutDate,MIN(`CALL_DATE`) AS minCallOutDate
        FROM T_CALL_INFOWHERE `USER_INFO_ID`=#{USERINFOID,JDBCTYPE=BIGINT}
        AND `CALL_TYPE`='主叫'
    </select>

    <select id="selectCallInDate" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT MAX(`CALL_DATE`) AS maxCallOutDate,MIN(`CALL_DATE`) AS minCallOutDate
        FROM T_CALL_INFOWHERE `USER_INFO_ID`=#{USERINFOID,JDBCTYPE=BIGINT}
        AND `CALL_TYPE`='被叫'
    </select>


</mapper>