<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mljr.operators.dao.primary.statistics.CallStatisticsMapper">


    <select id="selectTimeByCallType" parameterType="java.lang.Long"
            resultType="com.mljr.operators.entity.vo.statistics.CallStatisticsVO">
        select max(`call_date`) as maxCallOutDate,min(`call_date`) as minCallOutdate
        from t_call_info
        where `user_info_id`=#{userinfoid,jdbcType=bigint}
        and `call_type`=#{calltype,jdbcType=varchar}
    </select>

    <select id="selectByMonth" parameterType="java.lang.Long" resultType="map">
        select
        count(distinct CALL_NUMBER) as uniqNum,
	    count(distinct call_remote_address) as uniqCity,
        sum(CALL_DURATION) as totalTime, count(*) as times
        from t_call_info
        where `user_info_id`=#{userinfoid,jdbcType=bigint}
        and `call_type`=#{calltype,jdbcType=varchar}
        group by date_format(CALL_DATE, '%Y-%m')
    </select>

    <select id="selectByAddress" parameterType="java.lang.Long" resultType="map">
        select
        count(distinct CALL_NUMBER) as uniqNum,
        sum(CALL_DURATION) as totalTime, count(*) as times
        from t_call_info
        where `user_info_id`=#{userinfoid,jdbcType=bigint}
        and `call_type`=#{calltype,jdbcType=varchar}
        group by call_remote_address
    </select>


</mapper>